[Unit]
Description=LuxParking Poller
After=network.target

[Service]
Type=simple
Environment=NO_LOGS_TS=1
EnvironmentFile=/etc/default/luxparking-poller
ExecStart=/srv/projects/lux-parking/poller/lux-parking-poller.py --dburl $DBURL
Restart=always
RestartSec=10
User=nobody
Group=nogroup

[Install]
WantedBy=multi-user.target
